
  <ion-list>
    <ion-list-header>
      <ion-label>Zones</ion-label>
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-list-header>
    <div *ngFor="let zone of zones">
      <ion-item *ngIf="zone.isVisible">
        <ion-icon name="shapes-outline" slot="start"></ion-icon>
        <ion-label>{{zone.name}}</ion-label>
        <div *ngIf="zone.isActive === false">
          <ion-icon name="warning-outline" slot="end"></ion-icon>
        </div>
      </ion-item>
    </div>
  </ion-list>
