app-navigator-icon {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.distance {
    height: 35px;
    line-height: 35px;
    font-size: large;
    text-align: center;
}