<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!gamestate.gameMode.isEdit()">
      <ion-button (click)="openZoneList()">
        <ion-icon name="shapes-outline"></ion-icon>
        <ion-badge color="light">{{gamestate.zones.count()}}</ion-badge>
      </ion-button>
      <ion-button (click)="openPersonList()">
        <ion-icon name="people-outline"></ion-icon>
        <ion-badge color="light">{{gamestate.persons.count()}}</ion-badge>
      </ion-button>
      <ion-button (click)="openToolList()">
        <ion-icon name="construct-outline"></ion-icon>
        <ion-badge color="light">{{gamestate.tools.count()}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!gamestate.gameMode.isEdit()">
  <ion-toolbar *ngIf="gamestate.gui.showLocation.get()">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="locate-outline"></ion-icon>
        &nbsp;{{gamestate.player.location.get().format(4)}}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openNavigator()" *ngIf="gamestate.player.navigateTo.isNavigating()">
        <app-navigator-icon [size]="26" [direction]="gamestate.player.navigateTo.directions().bearing" [name]="'small'"></app-navigator-icon>
        &nbsp;{{gamestate.player.navigateTo.directions().formatDistance(0)}} m
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
	<app-openlayers></app-openlayers>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="gamestate.gameMode.isEdit()">
  <app-edit-smallscreen *ngIf="!gamestate.gui.screenWidth.isWide()"></app-edit-smallscreen>
  <app-edit-widescreen *ngIf="gamestate.gui.screenWidth.isWide()"></app-edit-widescreen>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="gamestate.gameMode.isDemo()">
  <ion-fab-button>
    <ion-icon name="share"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="move($event, eDirections.eUp)"><ion-icon name="arrow-up-outline"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="move($event, eDirections.eLeft)"><ion-icon name="arrow-back-outline"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="move($event, eDirections.eRight)"><ion-icon name="arrow-forward-outline"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="move($event, eDirections.eDown)"><ion-icon name="arrow-down-outline"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
    <ion-fab-button (click)="setSpeed($event, 1)"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="setSpeed($event, -1)"><ion-icon name="remove-outline"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>