<ion-header>
  <ion-toolbar>
    <!-- <ion-title *ngIf="game.demo.get()">
      {{speed}}/{{location}}
    </ion-title> -->
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openZoneList()">
        <ion-icon name="shapes-outline"></ion-icon>
        <ion-badge color="light">{{game.zones.count()}}</ion-badge>
      </ion-button>
      <ion-button (click)="openPersonList()">
        <ion-icon name="people-outline"></ion-icon>
        <ion-badge color="light">{{game.persons.count()}}</ion-badge>
      </ion-button>
      <ion-button (click)="openToolList()">
        <ion-icon name="construct-outline"></ion-icon>
        <ion-badge color="light">{{game.tools.count()}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<app-openlayers></app-openlayers>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="game.demo.get()">
  <ion-fab-button>
    <ion-icon name="share"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="move($event, 'up')"><ion-icon name="arrow-up-outline"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="move($event, 'left')"><ion-icon name="arrow-back-outline"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="move($event, 'right')"><ion-icon name="arrow-forward-outline"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="move($event, 'down')"><ion-icon name="arrow-down-outline"></ion-icon></ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
    <ion-fab-button (click)="setSpeed($event, 1)"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="setSpeed($event, -1)"><ion-icon name="remove-outline"></ion-icon></ion-fab-button>
    <!-- <ion-fab-button (click)="loadGame($event)"><ion-icon name="shapes-outline"></ion-icon></ion-fab-button> -->
  </ion-fab-list>
</ion-fab>